{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} -Accueil
{% endblock %}

{% block navbar %}
    <ul>
        <li class="crumb"><a href="details.php">Details</a></li>
        <li class="crumb"><a href="#">Musique</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% for product in products %}
        <li>{{ product }}</li>
    {% endfor %}

    {{ dump(products) }}

{% endblock %}